// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
	color: white;
}

.post-preview {
	height: 220px;

	a {
		float: right;
		margin-right: 25px;
	}
}

.carousel {
	width: 242px;
	margin-left: 10px;

	.min {
		width: 30px;
		height: 30px;
		font-size: 20px;
		top: 86%;
	}

	.left {
		right: auto;
		left: 0px;
	}

	.right {
		left: auto;
		right: 0px;
	}

	.carousel-caption {
		height: 50px;

		p {
			font-size: 11px;
			margin-left: 25px;
			margin-right: 25px;
			height: 24px;
		}
	}
}
