// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
	color: white;
}

.post-preview {
	height: 280px;

	a {
		float: right;
		margin-right: 5px;
	}
}

.carousel {
	width: 242px;
	margin-left: 10px;

	.carousel-control {
		font-size: 50px;
		color: #999;
		top: 84%;
		background: inherit;
		border: inherit;
	}

	.left {
		right: auto;
		left: 0px;
	}

	.right {
		left: auto;
		right: 0px;
	}

	.preview-caption {
		height: 50px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #333;

		p {
			font-size: 11px;
			margin-left: 25px;
			margin-right: 25px;
			height: 24px;
		}
	}
}
