<!DOCTYPE html>
<html>
<head>
  <title>Blogtropia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="body-dark">
<div class="centered">

<%= yield %>

</div>
</body>
</html>
